@import "tailwindcss";

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  padding-bottom: 6rem; 
}
