---
import Layout from '../../layouts/Layout.astro';
import ContactForm from '../../components/molecules/ContactForm.astro';
import ContactForm1 from '../../components/molecules/ContactForm1.jsx'; 

---

<h1>Contact Us</h1>
<Layout>
  <ContactForm1 client:load />
</Layout>