<footer class="fixed bottom-0 left-0 w-full bg-background-light dark:bg-background-dark border-t border-gray-300 dark:border-zinc-700">
  <div class="grid grid-cols-4 text-center text-xs py-2">

    <a href="/" class="flex flex-col items-center">
      <span class="material-symbols-outlined">home</span>
      Inicio
    </a>

    <a href="/sobre-mi" class="flex flex-col items-center">
      <span class="material-symbols-outlined">person</span>
      Sobre mí
    </a>

    <a href="/proyectos" class="flex flex-col items-center">
      <span class="material-symbols-outlined">layers</span>
      Proyectos
    </a>

    <a href="/conocimientos" class="flex flex-col items-center">
      <span class="material-symbols-outlined">integration_instructions</span>
      Conocimientos
    </a>

  </div>
</footer>
