---

---

<section id="about" class="bg-white rounded-lg shadow-md p-6 max-w-2xl mx-auto">
  <h2 class="text-3xl font-bold mb-4 text-blue-600">Sobre mí</h2>
  <p class="text-lg leading-relaxed text-gray-700">
    Hola Soy <span class="font-semibold">Mauricio Nolazco Lonjino</span>
  </p>
  <p class="mt-4 text-gray-600">
    Actualmente estudio en la Universidad Mexiquense del Bicentenario, curso el septimo semestre de la carrera de Ingeniería en Sistemas Computacionales.
  </p>
</section>
