---
import Background from '../../assets/background.svg';
const BackgroundSrc = Background.src;
---

<style define:vars={{BackgroundSrc: `url(${BackgroundSrc})`}}>
    .background {
        background-image: var(--BackgroundSrc);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<div class="background w-full min-h-screen flex flex-col justify-center items-center">
    <h1 class="text-4xl font-bold">Site Under Maintenance</h1>
    <p class="text-lg">We are currently performing scheduled maintenance. We should be back online shortly.</p>
</div>
