---
import Layout from '../layouts/Layout.astro';
import SiteMaintenance from '../components/templates/SiteMaintenance.astro';
import MainMe from '../components/templates/MainMe.astro';
import Button from '../components/templates/button.astro';
import Footer from '../components/atoms/Footer.astro';
import IconButton from '../components/atoms/IconButton.astro';

interface Item {
    name: string;
    href: string;
}

const navItems = [
    {name: 'Inicio', href: '/'},
    {name: 'Sobre mi', href: '/about'},
    {name: 'Proyectos', href: '/projects'},
    {name: 'Conocimientos', href: '/skills'}
]
---

<Layout>

  <!-- <SiteMaintenance /> -->

  <Button items={navItems} />

  <main class="pt-16 px-4 flex flex-col items-center text-center gap-6">

    <div class="h-28 w-28 rounded-full bg-cover bg-center"
      style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBnGBggDbP...");'>
    </div>

    <h1 class="text-2xl font-bold">Mauricio Nolazco Lonjino</h1>

    <p class="text-sm max-w-md text-text-light-secondary dark:text-text-dark-secondary">
      Una breve biografía que habla de mis gustos y lo que hago.
    </p>

    <div class="flex gap-4">
      <IconButton icon="code" link="#" />
      <IconButton icon="palette" link="#" />
      <IconButton icon="integration_instructions" link="#" />
    </div>

  </main>

  <!-- <MainMe /> -->

  <Footer />

</Layout>


