---
import Layout from '../layouts/Layout.astro';
import Button from '../components/templates/button.astro';
import Footer from '../components/atoms/Footer.astro';
import IconButton from '../components/atoms/IconButton.astro';
import Avatar from '../components/molecules/Avatar.astro';
import ContactForm from '../components/molecules/ContactForm.astro';

const base = import.meta.env.BASE_URL;

---
<Layout>


  <main class="grow pt-16 px-4">
    <div class="flex w-full flex-col items-center gap-10 text-center">

      <div class="relative flex flex-col items-center gap-4">

        <div class="absolute -top-4 -left-12 h-16 w-16 rounded-full bg-primary/20 blur-xl"></div>
        <div class="absolute -bottom-4 -right-12 h-16 w-16 rounded-full bg-purple-400/20 blur-xl"></div>

        <Avatar src={`${base}/assets/images/Yo.jpeg`} alt="Foto de Mi" />

        <div class="flex flex-col">
          <h1 class="text-3xl font-bold text-gradient">
            Mi persona
          </h1>
          <p class="text-base text-text-light-secondary dark:text-text-dark-secondary">
            Mauricio Nolazco Lonjino
          </p>
        </div>
      </div>

      <div class="w-full max-w-md space-y-6 text-left">
        <h2>Sobre mi</h2>
        <p class="text-base leading-relaxed text-text-light-secondary dark:text-text-dark-secondary">
          Soy un estudiante de Ingeniería en Sistemas Computacionales apasionado por crear soluciones funcionales y visualmente atractivas. 
          Me enfoco en el desarrollo web utilizando tecnologías modernas y disfruto aprender constantemente nuevas herramientas que me permitan mejorar y expandir mis habilidades.
        </p>
        <h2>Mision</h2>
        <p>Mi objetivo es seguir desarrollando proyectos que resuelvan problemas reales, mejorar mi experiencia en frontend/backend y colaborar en equipos donde pueda crecer profesionalmente.</p>
        <h2>Habilidades</h2>
        <p>Tengo experiencia trabajando con HTML, CSS, JavaScript, Python, MySQL y frameworks como Node.js. 
            También he participado en el desarrollo de interfaces, sistemas escolares y plataformas pequeñas de gestión.</p>
        <h2>Estudios</h2>
        <p>Actualmente estudio en la Universidad Mexiquense del Bicentenario, curso el septimo semestre de la carrera de Ingeniería en Sistemas Computacionales.</p>
      </div>
    </div>
  </main>
  <ContactForm />

  <Footer />

</Layout>
