---
interface Props {
  icon: string;
  link: string;
}

const { icon, link } = Astro.props;

const iconPaths: Record<string, string> = {
  whatsapp: "/public/Icons/Whatsapp.png",
  instagram: "/public/Icons/Instagram.png",
  tiktok: "/public/Icons/Tiktok.png",
  github: "/public/Icons/Github.png",
  facebook: "/public/Icons/Facebook.png",
};
---

<a href={link} target="_blank" rel="noopener noreferrer">
  <img src={iconPaths[icon]} width="25" height="25" alt={icon} />
</a>
