---
interface Props {
  icon: string; 
  link: string;
}

const { icon, link } = Astro.props;

const colors: Record<string, string> = {
  whatsapp: "text-green-500",
  instagram: "text-pink-500",
  tiktok: "text-gray-200",
  github: "text-purple-500",
  facebook: "text-blue-500",
};
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class={`font-semibold hover:underline ${colors[icon]}`}
>
  {icon.charAt(0).toUpperCase() + icon.slice(1)}
</a>
