---
interface Props {
  icon: string;
  link: string;
}

const { icon, link } = Astro.props;
//const base = import.meta.env.BASE_URL;

const iconPaths: Record<string, string> = {
  whatsapp: "/assets/Icons/Whatsapp.png",
  instagram: "/assets/Icons/Instagram.png",
  tiktok: "/assets/Icons/Tiktok.png",
  github: "/assets/Icons/Github.png",
  facebook: "/assets/Icons/Facebook.png",
};
---

<a href={link} target="_blank" rel="noopener noreferrer">
  <img src={iconPaths[icon]} width="25" height="25" alt={icon} />
</a>
