---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.ico`} />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Mauricio Nolazco | Portafolio</title>
  </head>

  <body class="min-h-screen flex flex-col bg-[#18181B] text-white font-sans">
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <div class="animate-pulse-slow pointer-events-none">
        <div
          class="absolute -top-40 -left-40 h-[400px] w-[400px] bg-purple-600/20 blur-3xl rounded-full"
        >
        </div>
        <div
          class="absolute bottom-0 right-0 h-[300px] w-[300px] bg-pink-600/10 blur-3xl rounded-full"
        >
        </div>
      </div>
    </div>

    <main class="grow">
      <slot />
    </main>
    <div class="bg-animated"></div>
  </body>
</html>
